/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --pink: #D68CE1;
    --orange:#FE6F60;
    --red:#E65771;
    --purple: #6A68A6;
    --brown: #734439;
    --salmon: #FBB1A6;
    --cream: #FFD6D1;
    --peach: #F7BAB2;
    --green: #59AB83;
    --lightgreen: #B2F7D5;
    --peach1: #FCB1A7;
    --peach2: #FFD9CC;
    --peach3: #FFEEE6;
    --green1: #AECFBA;
    --green2: #83AF93;
    --yellow : #FFCE00;
    --blue : #0d1de3;
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
   
}
.mySlides {display: none}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
  
  padding:0;
  margin:0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--black);
  font-size: var(--font-size)
  
}
/* NavBar */
nav {
font-family: var(--mono);
font-size:75%;
padding: 1rem;
margin-bottom:0rem;
}
nav h1 a{
  font-family: var(--sans);
}
nav ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis:100%;
  text-align:center;
  border:0px solid red;
}
nav h1 [class*="fa-"]{
  font-size:120%;
  color: var(--red);
}
nav li  [class*="fa-"]{
  font-size:150%;
  color: var(--white);
}
nav a {
color: var(--white);
text-decoration:none;
display:block;
}
nav a:hover {
  color: var(--orange);
}
 nav [class*="fa-"]:hover {
   color: var(--orange);
}
h1, h2, h3 {
 margin:0; 
}
a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration:none;
}
.button1 {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}
.button1:hover {
  color: white;
  background-color: var(--hotmag);
  
}


.container {
  
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--yellow);
  border: solid red 0px;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  

}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: flex;
  height: 26px;
  width: 32px;
  position: absolute;
  top: -3.5;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--aqua)
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: -2rem;
  background-color: var(--black);
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  padding-left: 0rem;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 3rem;
  font-weight: bold;
}

.logo {
  display: block;
  text-align: center;
  width: 100%;
  
  
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/*background color divs */
.section-purple {
  background-color: var(--purple);
  padding: 0 auto;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
}
.section-peach2 {
  background-color: var(--peach2);
}
.section-salmon {
  background-color: var(--salmon);
}
.section-cream {
  background-color: var(--cream);
}
.section-peach {
  background-color: var(--peach);
}
.section-peach3 {
  background-color: var(--peach3);
}
.section-green {
background-color: var(--green);
}
.section-green1 {
  background-color: var(--green1);
}
.section-lightgreen {
  background-color: var(--lightgreen);
}

.section-plum {
  background-color: var(--plum);
}
.section-dkblue {
  background-color: var(--dkblue);
}
.gradient {
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 2px;
}
.gradient1 {
  background: rgb(171,114,106,1);
  background: linear-gradient( rgba(171,114,106,1) 100%);
  height: 2px;
}
.gradient2 {
  background: rgb(147,32,218);
  background: linear-gradient(90deg, rgba(147,32,218,1) 0%, rgba(227,225,13,1) 100%);
}
/*intro styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin:-10rem auto ;
  margin-bottom: -5rem;
}
#intro p {
  font-size:1rem;
  line-height:1.5;
}
#intro .name {
  font-family: var(--mono);
}
.name span {
  font-family: var(--sans);
  font-size:4rem;
  color: var(--aqua);
  display:block;
}
#intro h2{
  font-size: 4rem;
  font-weight:normal;
}
/* Weather Forcast*/
.weather {
  margin:0 auto;
  padding:0 auto;
  margin-bottom:-3rem;
  width:215px;
  height:300px; 
}
.weatherlink {
  text-align:center;
  margin:1.5rem;
  font-family: var(--mono);
  
  
}
/* Weather Forcast*/
/* contact section */
#contact {
    
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#contact p:last-child {
    margin-top: 3rem;
}
/* footer section */
footer {
    text-align:center;
    padding: 4rem 0;
  }
footer ul {
    list-style-type: none;
    padding:0;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    gap:3rem;
    font-size:3rem;
}
/*project section*/
#projects{
  padding:4rem 1rem;
  
  
} 
#projects h2 {
  font-size:2.5rem;
  margin-bottom: calc(2.5rem *1.5);
}
#projects h3 {
  color: var(--green);
}
#projects h4 {
  font-size:1rem;
  font-family: var(--mono);
  margin:0;
}
.blackbox {
  background-color: var(--black);
  padding:1rem;
  border-radius:10px;
  color: var(--white);
  font-size:1rem;
  line-height:1.5;
}
#projects ul {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
  gap:1rem;
  font-size:1rem;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left:1px solid var(--dkblue);
  border-top:1px solid var(--dkblue);
  border-radius:25px;
  padding:0.5rem;
}
/* Slideshow container */
.slideshow-container {
  padding-top: 2rem;
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:static;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:var(--hotmag);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text1 {
  color: var(--black);
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family: var(--sans);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--black);
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}
/* back to the top button */
button {
  display: none;
  cursor: pointer;
  position: fixed; 
  bottom: 10px;
  right: 25px;
  z-index: 99;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  background:linear-gradient(90deg, rgba(147,32,218,1) 0%, rgba(227,225,13,1) 100%);
  
}

/* back to the top button */


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


@media (min-width: 550px) {
  article {
    display:grid;
    grid-template-columns: repeat(10,1fr);
    gap:1rem; 
  }
  #projects {
    max-width: 1200px;
    margin:0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row:1/2;
  }
  .text {
    grid-column:5/11;
    grid-row:1/2;
  order: 2;
  text-align:right;
  }
}
#projects ul {
  justify-content:flex-start;
}


@media (min-width:850px){
  nav {
    max-width:1200px;
    margin:0 auto;
  }
}
  nav li:first-child {
    flex-basis: auto;
    text-align:left;
    
}
.navbar {
  max-width:1200px;
  margin:0 auto;
}
#google {
  max-width: 1200px;
  margin:11rem auto;
  text-align:center;
}

button {
  margin: 25px;

}